@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* primeira pagina, para fazer a capa */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    color: #ededed;
}

html,body {
    scrollbar-color: var(--main-color) var(--second-bg-color);
}

.btn-box {
    scrollbar-color: var(--main-color) var(--second-bg-color);
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-center;
    justify-content: end;
    padding: 07%;
    margin-left: 12px;
    justify-content: center;
    align-items: center;
}

.flip-card {
    width: 490px;
    height: 490px;
    perspective: 1000px;
}

.flip-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1000px;
}

.flip-card-inner {
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
}

.flip-card .flip-card-back {
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}

.flip-card-back,
.flip-card-front {
    position: absolute;
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.5rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 60rem;
    margin-right: 5px;

}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;

}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px var(--main-color);
}

.home-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
    color: #0ef;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 25rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--main-color);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.home-sci {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: var(--bg-color);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

/* segunda pagina, para fazer o sbre mim */

.txt-animado {
    margin: 2vh;
    font-size: 2.5rem;
    color: var(--text-color);  
}

.txt-animado span {
    position: absolute;
}

.txt-animado span::before {
    content: "";
    color: var(--main-color);
    animation: palavras 20s infinite;
}

.txt-animado span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid var(--main-color);
    right: -10px;
    animation: cursor .8s infinite, digita 20s steps(15) infinite;
    width: calc(100% + 15px);
    background-color: var(--bg-color);
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 15px);
    }
}

@keyframes cursor {
    0%{
        border-left: 2px solid var(--bg-color);
    }
}

@keyframes palavras {
    0%,20%{
        content: "Olá, mundo!";
    }
    21%,40%{
        content: "Sejá bem vindo!";
    }
    41%,60%{
        content: "Me chamo Renan!";
    }
    61%,80%{
        content: "Estudo TI!";
    }
    81%,100%{
        content: "Me segue ai!";
    }
}

.trans-box {
    border: 2px solid;
    border-color: var(--main-color);
    border-radius: 25px;
    max-width: 100rem;
    max-height: 100vh;
    margin-right: 5px;
    width: 50%;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.trans-box p {
    font-size: 2.5vh;
    max-width: 100vh;
    max-height: 100vh;
    min-height: 50vh;
    margin: 5rem 2rem 4rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.trans-box h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
}

/* terceira pagina, para fazer as capas das matérias */

.titulo {
    margin: 2vh;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    margin: 0 auto;
    width: 125vh;
    height: 70vh;
    overflow: hidden;
    border-radius: 25px;
    justify-content: center;
    width: 125vh;
    height: 65vh;
    overflow: hidden;
}

.slides {
    width: 500vh;
    height: 65vh;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 125vh;
    height: 65vh;
}

.manual-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.manual-bnt {
    border: 2px solid var(--main-color);
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 18px;
    cursor: pointer;
    transition: .5s;
}

.manual-bnt:not(:last-child) {
    margin-right: 40px;
}

.manual-bnt:hover {
    background-color: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

#radio5:checked ~ .first {
    margin-left: -100%;
}

.navigation-auto div {
    border: 2px solid var(--main-color);
    padding: 5%;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: #fff;
}