@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-color);
}

.position-btn {
    position: fixed;
    top: 82vh;
    padding: 2rem;
}

.btn {
    display: flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    background: var(--text-color);
    border: .2rem solid var(--text-color);
    border-radius: 25rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: var(--text-color);
}

.titulo {
    color: var(--text-color);
    position: fixed;
    top: 0;
    padding: 2rem;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: var(--second-bg-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--bg-color);
}

.container .card .content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: var(--text-color);
    opacity: 10%;
    pointer-events: none;
}

.container .card .content h3 {
    font-size: 1.8em;
    color: var(--text-color);
    z-index: 1;
}

.container .card .content p {
    font-size: 1em;
    color: var(--text-color);
    font-weight: 300;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: var(--text-color);
    color: black;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    transition: 1s;
}

.container .card .content a:hover {

    box-shadow: 0 5px 15px var(--main-color);
    color: var(--main-color);
}